Repository DavidBarriga-Gomez/monster_shop_part_1, pull requests merged in 2019-12, with the labels that each got.

#40 Feature/user registration/story 10
  Gemfile
  Gemfile.lock
  app/controllers/users_controller.rb
  app/controllers/welcome_controller.rb
  app/models/user.rb
  app/views/layouts/application.html.erb
  app/views/users/new.html.erb
  app/views/users/show.html.erb
  app/views/welcome/index.html.erb
  config/routes.rb
  db/migrate/20191216205549_create_users.rb
  db/schema.rb
  spec/features/users/new_spec.rb
  spec/models/user_spec.rb
Labels: User Registration

#41 Merge Feature/user registration/story 11 and 12 into master
  app/controllers/users_controller.rb
  app/views/users/new.html.erb
  spec/features/users/new_spec.rb
Labels: User Registration

#49 Feature/user profile page/story 19 and 20
  app/controllers/sessions_controller.rb
  app/controllers/users_controller.rb
  app/views/users/_form.html.erb
  app/views/users/edit.html.erb
  app/views/users/show.html.erb
  config/routes.rb
  spec/factories/user.rb
  spec/features/users/edit_spec.rb
  spec/features/users/show_spec.rb
  spec/models/merchant_spec.rb
Labels: User Profiles

#55 Feature/user profile page/story 21
  app/assets/stylesheets/application.css
  app/controllers/users_controller.rb
  app/views/users/_form.html.erb
  app/views/users/edit.html.erb
  app/views/users/info_edit.html.erb
  app/views/users/new.html.erb
  app/views/users/password_edit.html.erb
  app/views/users/show.html.erb
  spec/features/users/edit_spec.rb
Labels: User Profiles

#70 Feature/merchant dashboard/story 35
  app/controllers/merchant/dashboard_controller.rb
  app/controllers/sessions_controller.rb
  app/models/merchant.rb
  app/views/layouts/application.html.erb
  app/views/merchant/dashboard/index.html.erb
  app/views/merchant/dashboard/show.html.erb
  app/views/orders/index.html.erb
  config/routes.rb
  db/seeds.rb
  spec/features/merchant/merchant_dashboard_spec.rb
  spec/features/navigation_spec.rb
  spec/features/orders/index_spec.rb
  spec/features/users/login_spec.rb
  spec/features/users/logout_spec.rb
  spec/models/merchant_spec.rb
Labels: Merchant Dashboard

#72 Merge feature/merchant dashboard/story 36 into master
  app/controllers/admin/merchants_controller.rb
  app/controllers/merchant/dashboard_controller.rb
  app/controllers/sessions_controller.rb
  app/views/admin/merchants/index.html.erb
  app/views/admin/merchants/show.html.erb
  app/views/layouts/application.html.erb
  app/views/merchant/dashboard/index.html.erb
  app/views/merchant/dashboard/show.html.erb
  config/routes.rb
  spec/features/merchant/dashboard_spec.rb
  spec/features/merchants/index_spec.rb
  spec/features/merchants/statistics_spec.rb
  spec/features/navigation_spec.rb
  spec/features/users/login_spec.rb
Labels: Merchant Dashboard
